/* CSS written by: James Sheppard (2025) */
/* Style rules for index, mainly for the slideshow */
#maskSlideshow {
	display: flex;

	overflow: clip;
	width: 600px;
	height: 300px;

	position: relative;
	margin: 0 auto;
}

#maskSlideshow img {
	height: 100%;

	position: absolute;
	left: 200%;

	display: none;

	animation-name: slideshow;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
}

@keyframes slideshow {
	0% {
		left: 200%;
	}

	25%
	{
		left: 13%;
	}

	50% {
		left: 13%;
	}

	55% {
		left: 13%;
	}

	60% {
		left: 13%;
	}

	65% {
		left: 13%;
	}

	90% {
		left: -200%;
	}

	100% {
		left: -200%;
	}
}