/* CSS written by: James Sheppard (2025) */
/* Style rules for the navigation element */
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 7.1rem;
	text-align: center;
	font-size: clamp(24px, 36px, 36px);
	margin: 0 auto;
}

nav p {
	font-weight: lighter;
}

nav a {
	color: black;
	font-style: normal;
	font-size: clamp(30px, 30px, 40px);
	font-weight: lighter;
	text-decoration: underline;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	transition: ease-in-out 0.25s;
}

nav a:hover {
	font-size: clamp(40px, 40px, 50px);
	font-weight: normal;
}
